.m-index{
  .l-container{
    .m-help{
      header{
        background: #2c3642;
        height: .44rem;
        line-height: .44rem;
        text-align: center;
        span{
          color: #fff;
          font-size: .2rem;
          font-weight: 100;
        }
      }
    }
  }
}
