@font-face {
  font-family: yofont;
  src: url("/Japan-China/images/iconfont/iconfont.woff") format("woff"),
   url("/Japan-China/images/iconfont/iconfont.ttf") format("truetype");
}
@font-face {
  font-family: yofont;
  src: url("/Japan-China/images/iconfont/iconfont-p.woff") format("woff"),
   url("/Japan-China/images/iconfont/iconfont-p.ttf") format("truetype");
}
